The context of the whole project is described in the docs/requirements.md file
The concrete set of valid rotations are not to be changed. They are described in the src/iq_puzzler/coordinate_transformations.py file.
The format of the json files is fixed and should not be changed.